<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='/images/favicon.svg' ) }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='/styles/styles.css') }}">
    <title>ChatBlog</title>
</head>
<body class="color-grad">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="{{ url_for('index') }}"> <img class="card_img" src="{{ url_for('static',filename='/images/message.svg')}}" alt="card"> PersonalBlog </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav navendtext">
              <li class="nav-item">
                <a class="nav-link disabled head" aria-current="page" href="{{ url_for('login') }}">Login in</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active head" aria-current="page" href="{{ url_for('sign_up') }}">Sign Up</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class="flashes {{ 'flashes bg-danger' if error }} ">
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <h2 class="pt-3 mx-auto mt-5 mb-5">Login</h2>

    <div class="pt-3">
        <form class="form-color w-25 px-5 pt-3 pb-3 m-auto" action="{{url_for('login')}}" method="POST">
            {{ form.csrf_token }}
            
            <div class="mb-2">  
                {{ form.email.label(class="form-label") }}
                {{form.email(class="form-control")}}
            </div>

            <div class="mb-2">
                {{ form.password.label(class="form-label") }}
                {{form.password(class="form-control")}}
            </div>
            
            <div class="mb-2">
                {{form.submit(class="btn btn-warning")}}
            </div>
        </form>

</div>

<footer class="footer mt-auto">
  <div class="footer__content">
      <section class="left">
          <a class="footer__item">Made By Ajay Shenoy</a>
          <a class="footer__item" href="https://github.com/SilentEngineer1999?tab=repositories">Check out my other projects</a>
      </section>
  </div>
</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>